html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

button{
    padding: 8px 22px;
    background: #3f51b5;
    color: #fff;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 3px;
    &:hover{
        background: #d09f08; 
        transition: 0.3s ease all;
    }
}